@import '../../../../common/colors';

#create-quiz {
  color: white;

  .new-quiz-title {
    font: {
      family: FiraSans;
      size: 32px
    };
  }

  .color-picker-button {
    width: 100px;
    color: white;
  }

  .color-picker-container {
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 2;
  }

  .color-picker {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }

  input {
    color: white;
    background: $background-primary;
    border-bottom: 1px solid white;

    font: {
      family: FiraSans;
      size: 16px;
    }

    &:focus {
      outline-width: 0;
    }
  }

  .name {
    width: 150px;
  }

  .description {
    width: 300px;
  }
}
