@import './../../../common/colors';

#navbar {
  .navbar-logo {
    width: 65px;
  }

  .navbar-title {
    color: white;
    margin: 0;
    font: {
      family: FiraSans;
      size: 50px;
      weight: bold;
    }
  }

  .navbar-subtitle {
    color: white;
    font-size: 14px;
    margin-top: -5px;
    opacity: 0.6;
  }
}
