@import './../../../common/colors';

#navbar {
  overflow: hidden;

  .navbar-logo {
    width: 65px;

    @media (max-width: 576px) {
      width: 50px;
    }
  }

  .navbar-title {
    color: white;
    margin: 0;
    font: {
      family: FiraSans;
      size: 50px;
      weight: bold;
    }

    @media (max-width: 576px) {
      font-size: 36px;
    }
  }

  .navbar-subtitle {
    color: white;
    font-size: 14px;
    margin-top: -5px;
    margin-bottom: 0;
    opacity: 0.6;
  }
}
