@import '../../../../../common/colors';

.option {
  background-color: rgba(255, 255, 255, .5);
  border-radius: 8px;
  height: 88px;
  overflow: hidden;
  width: 400px;

  @media (max-width: 576px) {
    height: 60px;
  }
}

.option-index {
  font-size: 64px;
  width: 88px;
  min-width: 88px;

  @media (max-width: 576px) {
    font-size: 40px;
    width: 60px;
    min-width: 60px;
  }
}

.option-text {
  background-color: rgba(255, 255, 255, .9);
  padding: 8px;

  @media (max-width: 576px) {
    font-size: 16px !important;
  }
}
