@import './../../../common/colors';

#mini-quiz {
  height: 250px;
  width: 300px;
  overflow: hidden;

  @media (max-width: 576px) {
    height: 150px;
  }

  .name {
    color: white;
    font-size: 48px;

    @media (max-width: 576px) {
      font-size: 42px;
    }
  }

  .info-container {
    max-width: 200px;
  }

  .description {
    color: $subtitle;
    font-size: 18px;
    font-weight: bold;
  }

  .info {
    color: $secondary-text;
    font-size: 13px;
  }
}
