@import './../../../common/colors';

#mini-quiz {
  font-family: SourceSansPro;

  height: 250px;
  width: 300px;

  .name {
    color: white;
    font-size: 48px;
  }

  .info-container {
    max-width: 200px;
  }

  .description {
    color: $subtitle;
    font-size: 18px;
    font-weight: bold;
  }

  .info {
    color: $secondary-text;
    font-size: 13px;
  }

  .results-link {
    font-size: 16px;
    font-weight: bold;
  }
}
