@import '../../../../common/colors';

.quiz-name {
  color: white;
  font: {
    size: 56px;
    weight: 600;
  }

  @media (max-width: 576px) {
    font-size: 28px;
  }
}

.question-text {
  color: white;
  font-size: 24px;

  @media (max-width: 576px) {
    font-size: 18px;
  }
}

.code-block {
  border-radius: 8px;
  opacity: 0.9;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
