@import './../../../common/colors';

#main {
  a {
    text-decoration: none;
  }

  .content {
    /**
     * The Navbar component in takes 100vh in full mode and 200px in collapsed.
     * It is necessary to leave 1px left to keep the Navbar in collapsed
     * mode, otherwise it will reopen in full mode again after the animation.
     */
    height: calc(100vh - 199px);
    background: $background-accent;
  }

  .results-link {
    font-size: 16px;
    font-weight: bold;
  }
}
