html, body, .page {
    height: 100vh;
    width: 100vw;

    min-height: 640px;
    min-width: 640px;
}

body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: WanderlustLetters;
    src: url("font/WanderlustLetters-Regular.otf");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url("font/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    src: url("font/Roboto-Bold.ttf");
}

a {
    text-decoration: none;
    color: black;
}

.test-2 {
    background: linear-gradient(180deg, #FAB361 0%, #D98C3F 100%);
}

.test-3 {
    background: linear-gradient(180deg, #82D4E3 0%, #58B1C6 100%);
}

/* --------------------------------------------- ADMIN PANEL */

/* HEAD */

.a-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background: linear-gradient(180deg, #E6515E 0%, #DB3B4C 100%);
}

.a-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin: 1%;

    width: 98%;
}

.a-logo {
    width: 5%;
    height: 5%;

    min-width: 100px;
    min-height: 100px;
}

.a-quiz-title {
    font-family: WanderlustLetters, sans-serif;
    font-size: xx-large;
    color: #ffffff;

    margin-left: 10px;

    align-self: center;
}

.a-line {
    border-left: 1px solid #ffffff;
    margin-left: 20px;
    padding-left: 10px;
}

.a-author-text {
    font-family: Roboto, sans-serif;
    font-weight: lighter;
    color: white;
}

.a-title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: WanderlustLetters, sans-serif;
    color: white;
    font-size: xx-large;

    width: 70%;
}

/* USERS GRID */

.user-grid {
}

/* ADD QUIZ */
.add-quiz {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 300px;
}

/*

.square {
  background: Khaki;
  border-radius: 5px;
  height: 150px;
  margin: 100px;
  width: 150px;
}

.square:hover {
  animation-name: spin;
  animation-duration: 2s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    margin-left: 0;
  }
  to {
    transform: rotate(360deg);
    margin-left: 50px;
  }
}

*/

/* flex-wrap: wrap; Flex-элементы отображаются в несколько рядов, если потребуется, слева направо и сверху вниз. */
