@import 'common/colors';
@import 'common/fonts';
@import 'common/jewel-bootstrap';

body {
  margin: 0;
  padding: 0;
  background: $background-primary;
  font-family: SourceSansPro, FiraSans, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
  color: black;

  &:hover {
    color: black;
  }

  &:focus {
    color: black;
  }
}
