/**
 * General stylesheet file with all project colors.
 */

$primary: #F29100;
$background-accent: #F8F8F8;
$background-primary: #3C3C3C;
$secondary-text: #9B9B9B;
$subtitle: #4D4845;
$title: #B5ECD5;
