/**
 * General stylesheet file with all project fonts.
 */

@font-face {
  font-family: SourceSansPro;
  font-weight: 400;
  src: url("./../app/assets/font/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: FiraSans;
  font-weight: 400;
  src: url("./../app/assets/font/FiraSans-Regular.ttf");
}

@font-face {
  font-family: FiraSans;
  font-weight: 700;
  src: url("./../app/assets/font/FiraSans-Bold.ttf");
}
